{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Question Two</h1>

<p>A red flower is crossbred with a white flower and the offspring is pink. This is an example of...</p>

<form action='/page3' method="post">
  <input type="radio" id="q2a1" name="q2" value="q2a1">
  <label for="q2a1">Complete Dominance</label><br>
  <input type="radio" id="q2a2" name="q2" value="q2a2">
  <label for="q2a2">Polygenic Inheritance</label><br>
  <input type="radio" id="q2a3" name="q2" value="q2a3">
  <label for="q2a3">True Dominance</label><br>
  <input type="radio" id="q2a4" name="q2" value="q2a4">
  <label for="q2a4">Incomplete Dominance</label><br>
  <input type="submit" class="btn btn-info" value="Next Question">
</form>
{% endblock %}

