{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Question Three</h1>

<p>A fly is heterozygous for both it's black color and smooth wings and is crossbred with a fly thats homozygous</p>
<p>for its white body and crinkled wings. What proportion of their offspring would be black with crinkled wings?</p>

<form action='/page4' method="post">
  <input type="radio" id="q3a1" name="q3" value="q3a1">
  <label for="q3a1">1/4</label><br>
  <input type="radio" id="q3a2" name="q3" value="q3a2">
  <label for="q3a2">9/16</label><br>
  <input type="radio" id="q3a3" name="q3" value="q3a3">
  <label for="q3a3">1/2</label><br>
  <input type="radio" id="q3a4" name="q3" value="q3a4">
  <label for="q3a4">3/16</label><br>
  <input type="submit" class="btn btn-info" value="Next Question">
</form>
{% endblock %}

