{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Question Five</h1>
<br>
<p>Two parents with AB blood type cannot have a child with...</p>

<form action='/answer' method="post">
  <input type="radio" id="q5a1" name="q5" value="q5a1">
  <label for="q5a1">All blood types are possible</label><br>
  <input type="radio" id="q5a2" name="q5" value="q5a2">
  <label for="q5a2">A type blood</label><br>
  <input type="radio" id="q5a3" name="q5" value="q5a3">
  <label for="q5a3">O type blood</label><br>
  <input type="radio" id="q5a4" name="q5" value="q5a4">
  <label for="q5a4">AB type blood</label><br>
  <input type="submit" class="btn btn-info" value="Next Question">
</form>
{% endblock %}

