{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Question One</h1>

<p>A dog with black fur has a heterozygous genotype and is crossbred with a brown dog. Assuming complete dominance, what is probability of the offspring having brown fur.</p>

<form action='/page2' method="post">
  <input type="radio" id="75%" name="q1" value="q1a1">
  <label for="q1a1">Answer1</label><br>
  <input type="radio" id="50%" name="q1" value="q1a2">
  <label for="q1a2">Answer2</label><br>
  <input type="radio" id="100%" name="q1" value="q1a3">
  <label for="q1a3">Answer3</label><br>
  <input type="radio" id="25%" name="q1" value="q1a4">
  <label for="q1a4">Answer4</label><br>
  <input type="submit" class="btn btn-info" value="Next Question">
</form>

{% endblock %}

