{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Question Five</h1>

<p>Question Five</p>

<form action='/answer' method="post">
  <input type="radio" id="q5a1" name="q5" value="q5a1">
  <label for="q5a1">Answer1</label><br>
  <input type="radio" id="q5a2" name="q5" value="q5a2">
  <label for="q5a2">Answer2</label><br>
  <input type="radio" id="q5a3" name="q5" value="q5a3">
  <label for="q5a3">Answer3</label><br>
  <input type="radio" id="q5a4" name="q5" value="q5a4">
  <label for="q5a4">Answer4</label><br>
  <input type="submit" class="btn btn-info" value="Next Question">
</form>
{% endblock %}

